* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    background-color: #111;
}


/* Logo */
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    transition: 0.3s ease;
}

/* Underline Hover Effect */
.nav-links li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00c3ff;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-links li a:hover {
    color: #00c3ff;
}

.main {
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.main .contents {
    background-color: white;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main .contents .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.main .contents .heading h1 {
    font-size: 60px;
    color: black;
}

.main .contents .heading p {
    font-size: 15px;
    color: black;
}

.main .contents .heading .top-head {
    color: blue;
}
.heading .address i{
    padding-right: 15px;
}
.main .contents .heading .discripation{
    text-align: justify;
}
.contents .btns {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contents .btns .btn {
    padding: 15px 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
}

.main .image {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.main .image img {
    width: 100%;
    border-radius: 30px;
}

:hover .btn {
    background-color: rgb(137, 137, 137);
}